form {
  width: 100%;
  max-width: 400px;
  @include flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;

  .c-contact_field {
    @include flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255, 255, 255, 0.32);
    width: 100%;
  }

  .c-contact_input,
  .c-contact_message {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
  }
}
