:root {
  --primary-color: #9e00ff;
  --secondary-color: #11ffd4;
  --background-color: #212121;
  --footer-background-color: darken(#212121, 20);
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  width: 100%;
  height: 62px;
  background-color: rgba(255, 0, 255, 0.329);
}

.home {
  width: 100%;
  height: calc(100vh - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.home_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.home_image, .home_image img {
  width: 100%;
  max-width: 300px;
}
.home .c-headings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 1000px), (orientation: landscape) {
  .home_wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home .c-headings {
    font-size: 1.2rem;
    width: initial;
  }
  .home_image, .home_image img {
    width: initial;
    max-width: 400px;
  }
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
}
.about_wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 600px;
}

@media screen and (min-width: 800px) {
  .about_wrapper {
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 100%;
  }
}
.work {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.work_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.work .c-work_description {
  text-align: center;
  max-width: 500px;
}

@media screen and (min-width: 1000px) {
  .work_wrapper {
    flex-direction: row;
  }
}
.c-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.c-titles .c-headings_title {
  font-size: 3rem;
  background: linear-gradient(255.24deg, #9e00ff 12.35%, #11ffd4 64.55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-titles .c-headings_subtitle {
  background: linear-gradient(255.24deg, #9e00ff 12.35%, #11ffd4 64.55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 400px) {
  .c-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .c-titles .c-headings_title {
    font-size: 4rem;
  }
  .c-titles .c-headings_subtitle {
    font-size: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .c-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .c-titles .c-headings_title {
    font-size: 5rem;
  }
  .c-titles .c-headings_subtitle {
    font-size: 3rem;
  }
}
.c-info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  justify-content: space-evenly;
}
.c-info_text {
  width: 100%;
  max-width: 300px;
  font-size: 12px;
  text-align: center;
}
.c-info_title {
  font-size: 16px;
  background: linear-gradient(255.24deg, #9e00ff 12.35%, #11ffd4 64.55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-info_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-info_image, .c-info_image img {
  width: 90%;
  max-width: 150px;
}

@media screen and (min-width: 600px) {
  .c-info_text {
    font-size: 1rem;
  }
  .c-info_title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  .c-info {
    max-width: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .c-info_text {
    order: 2;
  }
}
.c-btns_solid {
  color: #000;
  border-radius: 10px;
  background: linear-gradient(255.24deg, #9e00ff 12.35%, #11ffd4 64.55%);
  font-weight: 600;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: 0.2s ease-out;
  padding: 0.5rem 0;
}
.c-btns_solid a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 2rem;
}
.c-btns_solid:hover {
  background: linear-gradient(255.24deg, #11ffd4 12.35%, #9e00ff 64.55%);
  padding: 0.5rem 0.75rem;
}
.c-btns_solid:hover a {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
